<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoQuest</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body style="background-color: white">
    <div class="navbar" style="height: 200px; background-color: #000000;">
        <div class="logo" style="color: #fffeff; font-size: 60px;">INFOQUEST</div>
        <h3 id="tagline" style="margin-left: 100px; color: white;">Navigate the Realm of Information: <i>InfoQuest</i>, Your Path to Discovery!</h3>
    </div>
    
    <br><br><br><br>
    <section class="feature-boxes">
        <div class="main-box" onclick="window.open('/interview-preparation', '_blank')">
          <h3>Interview Preparation</h3>
          <p>Get ready for your next interview with our expertly curated resources.</p>
          <img src="../static/interview 4.webp" alt="Interview Image" style="height: 180px;">
        </div>
      
        <div class="main-box" onclick= "window.open('/document-search', '_blank')">
          <h3>Document Search</h3>
          <p>Say goodbye to time-consuming manual searches, and let InfoQuest help you quickly find the information you need.</p>
          <img src="../static/doc search.png" alt="Document Search Image" style="height: 190px;">
        </div>

        <div class="main-box" onclick="window.open('/quiz', '_blank')">
          <h3>QuizQuest</h3>
          <p>Test Your Knowledge: Explore, Learn, and Quiz!</p>
          <img src="../static/quiz2.webp" alt="Quiz Image" style="height: 190px;">
        </div>
    </section>
</body>
</html>